@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  line-height: 1.8;
  scroll-behavior: smooth;
}

/* Mobile first  */

body {
  min-width: 375px;
  font-size: 1.6rem;
}

header,
section,
footer {
  padding: 2rem;
}

/* HEADER  */

header {
  background: url("https://cdn.pixabay.com/photo/2021/11/18/08/04/ladder-6805808_960_720.jpg")
    no-repeat fixed bottom center/cover;
  height: 15vh;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

header a {
  text-decoration: none;
  font-size: 2rem;
  color: black;
}

a.logo-text {
  font-size: 2rem;
}

nav ul {
  display: none;
}

nav.responsive ul {
  background: white;
  position: absolute;
  top: 10vh;
  right: 2rem;
  width: 90%;
  display: block;
}

nav.responsive ul::before {
  content: "";
  position: absolute;
  top: -20px;
  left: calc(100% - 2rem);
  border-bottom: 10px solid white;
  border-right: 10px solid white;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
}

nav.responsive ul li {
  display: block;
}

nav.responsive a {
  color: black;
  display: block;
  border-bottom: 1px solid #ccc;
}

header a {
  text-decoration: none;
  color: white;
  padding: 2rem;
}

nav a:hover {
  background-color: rgb(243, 149, 55);
}

nav a:focus {
  border: 3px dashed green;
}

ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
}

img {
  max-width: 100%;
}

.burger-btn {
  border: none;
  color: white;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
}

.bgcolorchange {
  background: rgb(241, 223, 215);
}

.bgcolorchange a,
.bgcolorchange .burger-btn {
  color: rgb(233, 117, 71);
}

/* HEADER > PROGRESS BAR  */
.progress-container {
  width: 100%;
  height: 8px;
  background-color: transparent;
  position: fixed;
  top: 10rem;
  left: 0;
  right: 0;
  z-index: -1;
}

.progress-indicator {
  height: 8px;
  background-color: #04aa6d;
  width: 0%;
}
/* MAIN > SECTIONS */

section {
  padding: 4rem 2rem;
  overflow: auto;
  min-height: 50vh;
  scroll-margin-top: 5rem;
}

/* WELCOME SECTION  */
section:first-of-type {
  background: url("https://cdn.pixabay.com/photo/2021/11/18/08/04/ladder-6805808_960_720.jpg")
    no-repeat fixed bottom center/cover;
}

.hero_banner--text {
  margin-top: 10vh;
  font-size: clamp(3rem, 3vw, 6rem);
}

h2 + img {
  margin-bottom: 1rem;
}

h2.section_heading {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: minmax(50px, 1fr) auto minmax(50px, 1fr);
  align-items: center;
  text-align: center;
  gap: 30px;
}

.section_heading::before,
.section_heading::after {
  content: "";
  border-top: 6px double #ff7a18;
}

/* PROJECT SECTION  */
section:nth-child(2) {
  text-align: center;
}

.projects_container {
  text-align: center;
}

.project {
  border-radius: 1rem;
  transition: all 0.2s ease;
  padding: 1rem;
  margin: 2rem auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.project:hover {
  cursor: pointer;
  box-shadow: 7px 8px 6px 0px rgba(0, 0, 0, 0.3);
}

.project_desc {
  font-style: italic;
}

.more_btn {
  color: #ff7a18;
  text-decoration: none;
}

.more_btn:hover {
  text-decoration: underline;
}

/* ABOUT SECTION  */

.about_section {
  background-color: bisque;
}

.about_section img {
  float: right;
  margin-left: 3rem;
}

.about_section img:hover {
  transform: scaleX(-1);
}
/* SKILL SECTION */

.skill_section img {
  float: left;
  margin-right: 3rem;
}

.progress-bar {
  background-color: #fefefe;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  height: 30px;
  width: 500px;
  max-width: 100%;
  border-radius: 0.3rem;
}

.progress {
  background: linear-gradient(to bottom, #de6262, #ffb88c);
  height: 30px;
  border-radius: 0.3rem;
  width: 0;
  transition: width 0.5s ease-in;
}

.skill {
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.fa-brands {
  font-size: 4rem;
  color: #de6262;
}

.fa-brands + h3 {
  /* adjecent sibling selector selects the 2nd element only if it immediately follows the 1st and both are children of same parent element*/
  font-size: 2rem;
  letter-spacing: 0.5px;
  /* font-weight: normal; */
}

/* FOOTER  */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(12, 28, 73);
  color: white;
  padding: 2rem;
  width: 100%;
}

.form-control {
  margin-bottom: 2rem;
  display: flex;
  flex-flow: column nowrap;
}

.form-control label {
  font-size: clamp(1rem, 2.5vw, 1.6rem);
}

input,
textarea {
  border-radius: 5px;
  padding: 1rem;
  outline: none;
  border: none;
}

input:focus,
textarea:focus {
  border: 2px solid rgb(30, 189, 210);
  outline: none;
  background: #ddd;
}

input[type="submit"] {
  background-color: chocolate;
  padding: 8px 15px;
  color: white;
  width: 150px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: coral;
}

/* Back to top button  */
#backToTop {
  background-color: rgba(233, 117, 71, 0.6);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  font-family: inherit;
  cursor: pointer;
  color: white;
  display: none;
}

#backToTop:hover {
  background-color: rgb(233, 117, 71);
}

.material-icons {
  font-size: 1.2rem;
}

/* MEDIA QUERIES  */

/* Ipad air  */
@media screen and (min-width: 800px) {
  .burger-btn {
    display: none;
  }

  nav ul {
    display: block;
  }

  nav a {
    padding: 20px;
  }

  /* PROJECT SECTION  */

  .projects_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 2rem;
  }

  .projects_container > * {
    width: calc(50% - 1.876rem);
  }

  .form-control label {
    margin-right: 1rem;
  }

  /* SKILL SECTION  */

  .skills {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2.5rem;
  }

  .skills > * {
    flex: 1 150px;
  }

  /* FOOTER  */

  form {
    width: 40vw;
  }
}

/* 1200px viewport  */

@media screen and (min-width: 1024px) {
  .projects_container > * {
    width: calc(33.3333% - 2.5rem);
  }
}
